<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <script src="<%= asset_path 'application.js' %>"></script>
<% flash.each do |key, value| %>
  <script>
    setTimeout(function() {
      $('.alert-<%= key %>').fadeOut('slow');
    }, 3000);
  </script>
<% end %>

  </body>
</html>
